<div class="left">EXPLORER</div>
<div class="right">···</div>
<div class="header"><i class="bi bi-chevron-down"></i> PALETTIORG</div>
<ul>
    <li><a href="index.html"><i class="bi bi-house icon-orange"></i>index.html</a></li>
    <li><a href="projects.html"><i class="bi bi-person-workspace icon-cyan"></i>projects.html</a></li>
    <li><a href="aboutme.html"><i class="bi bi bi-person icon-cyan icon-green"></i>aboutme.html</a></li>
    <li><a href="impressum.html"><i class="bi bi-question-octagon icon-yellow"></i>Impressum</a></li>
</ul>